.login-page, .register-page {
    background: #232323;
    position: relative;
}

.login-page .powerby {
    position: absolute;
    top: -96px;
    font-size: 11px;
    color: #fff;
    right: 10px;
}

.login-page .powerby img {
    width: 30px;
}

.login-logo, .register-logo {
    font-size: 15px !important;
}

.login-box-body, .register-box-body {
    background-color: transparent !important;
}

.login-avatar {
    background-color: #fff;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    text-align: center;
    margin: 0 auto 10px;
    position: relative;
}

.login-avatar img {
    width: 50px;
    height: 62px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -25px;
    margin-top: -31px;
}

.login-logo a {
    color: #fff;
}

.login-page .btn-primary {
    background-color: #4550B9 !important;
    width: 140px;
    border-radius: 20px !important;
}

.main-sidebar, .left-side {
    padding-top: 0 !important;
    background-color: #232323 !important;
}

.sidebar-menu {
    background-color: #232323 !important;
}

.skin-blue-light .sidebar-menu>li {
    padding: 5px;
}

.skin-blue-light .sidebar-menu>li>a {
    padding: 5px !important;
}

.skin-blue-light .sidebar-menu>li>a:hover,
.skin-blue-light .sidebar-menu>li:hover>a,
.skin-blue-light .sidebar-menu>li.active>a {
    background-color: #313131;!important;
    color: #FFFFFF !important;
    padding: 5px !important;
    border-radius: 10px;
}

.user-panel {
    width: auto !important;
    background: #FFFFFF;
    margin: 15px;
    border-radius: 10px;
}

.skin-blue-light .sidebar a {
    color: #AAA !important;
}

.treeview a {
    background-color: #232323 !important;
}

.sidebar-menu .treeview-menu>li>a {
    padding: 5px 5px 5px 30px !important;
}

.sidebar-menu .treeview-menu {
    padding-left: 0 !important;
    margin-left: 5px;
}

.sidebar-menu .treeview-menu>li {
    margin: 0;
    background-color: #232323 !important;
}

.user-panel .logo a {
    color: #6C6C6C  !important;
}

.user-panel hr {
    margin: 5px 0 !important;
    border-color: #DDDDDD;
}

.user-panel .role {
    text-transform: capitalize;
    color: #AAAAAA;
    font-size: 11px;
}

.user-panel .logo img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
.user-panel>.image>img {
    width: 50px !important;
    max-width: 50px !important;
    height: 50px !important;
}

.user-panel .dd-menu {
    margin-top: 10px;
}

.content-wrapper {
    position: relative;
}

.content-wrapper .content {
    margin-top: 50px;
}

.content-wrapper .content .powerby {
    position: absolute;
    top: -50px;
    font-size: 11px;
    right: 10px;
    z-index: 999;
}

.content-wrapper .content .powerby img {
    width: 30px;
}

.d-title {
    font-weight: bold;
    margin-bottom: 10px;
}


.btn-main-primary {
    background-color: #4550B9 !important;
    width: 140px;
    border-radius: 20px !important;
}

.shadow {
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
}

.f20 {
    font-size: 20px;
}

.fwbold {
    font-weight: bold;
}

.d-venue {
    color: #929292;
}

.d-gopw {
    color: #6AC47C;
}

.d-leagues {
    color: #929292;
}

.d-teams {
    color: #929292;
}

.d-region {
    color: #929292;
}

.d-hplus {
    color: #FF8181;
}

.d-tplus {
    color: #A185FF;
}

.d-fplus {
    color: #7FA6FF;
}

.biggest {
     width: auto;
 }

.biggest h5 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.biggest>.image>img {
    width: 50px !important;
    max-width: 50px !important;
    height: 50px !important;
}

.biggest>.info {
    left: 55px;
    padding: 5px 5px 5px 15px;
    line-height: 1;
    position: absolute;
}

.biggest>.info2 {
    padding: 5px 5px 5px 15px;
    line-height: 1;
}

.teams {
    width: auto;
    position: relative;
}

.teams h5 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    font-weight: bold;
}

.teams .image>img {
    width: 50px !important;
    max-width: 50px !important;
    height: 50px !important;
}

.teams .info {
    left: 55px;
    padding: 5px 5px 5px 15px;
    line-height: 1;
    position: absolute;
}

.teams .info2 {
    padding: 5px 5px 5px 15px;
    line-height: 1;
}

.teams button {
    position: absolute;
    top: 5px;
    right: 5px;
}

h5.h5-venue-managers,
h5.h5-site-staff {
    margin-top: 20px !important;
}

.teams h5 > span > a {
    color: #5D67C2 !important;
    margin-left: 20px;
    font-weight: normal;
    font-size: 11px;
}


