.login-page, .register-page {
    background: #232323;
    position: relative;
}

.login-page .powerby {
    position: absolute;
    top: -96px;
    font-size: 11px;
    color: #fff;
    right: 10px;
}

.login-page .powerby img {
    width: 30px;
}

.login-logo, .register-logo {
    font-size: 15px !important;
}

.login-box-body, .register-box-body {
    background-color: transparent !important;
}

.login-avatar {
    background-color: #fff;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    text-align: center;
    margin: 0 auto 10px;
    position: relative;
}

.login-avatar img {
    width: 50px;
    height: 62px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -25px;
    margin-top: -31px;
}

.login-logo a {
    color: #fff;
}

.login-page .btn-primary {
    background-color: #4550B9 !important;
    width: 140px;
    border-radius: 20px !important;
}
